/********** BASE STYLES **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-align: center;
    margin: 15px 0px;
}

h3 {
    text-align: center;
    padding: 5px;
}

p {
    padding: 8px;
    float: right;
}

.row {
    width: 100%;
}  

.one-container, .two-container, .three-container {

}

#one-title {
background-color: #b86363;
}

#two-title {
    background-color: aqua;
    color: rgb(32, 32, 32);
}

#three-title {
    background-color: rgb(218, 255, 176);
    color: rgb(32, 32, 32);
}

#one-title, #two-title, #three-title {
    float: right;
    width: 33%;
    margin: -3px;
    border: rgb(32, 32, 32) 3px solid;
    
}

.one, .two, .three {
    border: 3px solid rgb(32, 32, 32);
    background-color: rgb(218, 218, 218);
    min-height: 150px;
    color: rgb(32, 32, 32);
    padding-bottom: auto;
    margin: 10px 5px 0px 5px;
    
}

/********** DESKTOP **********/
@media (min-width: 992px) {
/* all items should appear in one row in desktop view*/
    .one-container, .two-container, .three-container {
        float: left;
        width: 33.33%; 
        font-size: .7em;      
    }
    #one-title, #two-title, #three-title {
        font-size: 125%;
    }
}
/********** TABLET **********/
@media (min-width: 768px) and (max-width: 991px) {
    .one-container, .two-container {
        float: left;
        width: 50%;
        font-size: .75em;
    }

    .three-container {
        width: 100%;
        float: left;
        font-size: .75em;
    }
    #one-title, #two-title, #three-title {
        font-size: 125%;
    }
}  
/********** MOBILE **********/
@media (max-width: 767px) {
    .one-container, .two-container, .three-container {
        float: left;
        width: 100%;
        font-size: .65em;
    }

    #one-title, #two-title, #three-title {
        font-size: 125%;
    }
}